
<!doctype html>
<html lang="en">
<head><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script></head>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container" style="background-image: url(https://previews.123rf.com/images/beawolf/beawolf1605/beawolf160500007/59667326-very-high-resolution-3d-rendering-of-an-electronic-circuit.jpg)">
<hr>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<!--<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>-->
	<h4 class="card-title mt-2" style="color: blue;font-family: serif">Department Screen</h4>
</header>
<article class="card-body">
<form>
	<div class="form-row">
        
		<div class="col form-group col-md-6">
            
			<label style="margin-top: 8px"> Department ID</label>   
		  	
		</div> <!-- form-group end.// -->
		<div class="col form-group col-md-6" >
			<input type="text" class="form-control" placeholder="Enter Department Id in number" [(ngModel)]="depart.deptId" name="deptId">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-row">
        
            <div class="col form-group col-md-6">
                
                <label style="margin-top: 8px"> Department Name</label>   
                  
            </div> <!-- form-group end.// -->
            <div class="col form-group col-md-6" >
                    <select id="deptName" [(ngModel)]="depart.deptName" name="deptName" class="form-control">
                            <option> Choose...</option>
                              <option>Uzbekistan</option>
                              <option>Russia</option>
                              <option selected="">United States</option>
                              <option>India</option>
                              <option>Afganistan</option>
                          </select>
                        </div> <!-- form-group end.// -->           
        </div> <!-- form-row end.// -->
        <div class="form-row">
        
                <div class="col form-group col-md-6">
                    
                    <label style="margin-top: 8px"> Department Manager</label>   
                      
                </div> <!-- form-group end.// -->
                <div class="col form-group col-md-6" >
                        <select id="DeptManager" [(ngModel)]="depart.deptManager" name="deptManager" class="form-control">
                                <option> Choose...</option>
                                  <option>Uzbekistan</option>
                                  <option>Russia</option>
                                  <option selected="">United States</option>
                                  <option>India</option>
                                  <option>Afganistan</option>
                              </select>
                            </div> <!-- form-group end.// -->           
            </div> <!-- form-row end.// -->
            <div class="form-row">
        
                    <div class="col form-group col-md-6">
                        
                        <label style="margin-top: 8px">Employee ID</label>   
                          
                    </div> <!-- form-group end.// -->
                    <div class="col form-group col-md-6" >
                        <input type="text" class="form-control" placeholder="Enter employee Id in number" [(ngModel)]="depart.empId" name="empId">
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
        
                        <div class="col form-group col-md-6">
                            
                            <label style="margin-top: 8px"> Designation of the Employee</label>   
                              
                        </div> <!-- form-group end.// -->
                        <div class="col form-group col-md-6" >
                            <input type="text" class="form-control" placeholder="Enter the designation of the Employee" [(ngModel)]="depart.empDesig" name="empDesig">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
        
                            <div class="col form-group col-md-6">
                                
                                <label style="margin-top: 8px">Location</label>   
                                  
                            </div> <!-- form-group end.// -->
                            <div class="col form-group col-md-6" >
                                <input type="text" class="form-control" placeholder="Enter the Location" [(ngModel)]="depart.loc" name="loc">
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
<div class="form-row" style="margin-top: 50px">
    
  <div class="col form-group col-md-6"> 
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="createDepart()"> Save </button>
    </div> <!-- form-group// -->      
    </div>
    <div class="col form-group col-md-6"> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Cancel </button>
            </div> <!-- form-group// -->      
    </div>  
</div>                                              
</form>
</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->


</html>
