
<!doctype html>
<html lang="en">
<head><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script></head>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container" style="background-image: url(https://previews.123rf.com/images/beawolf/beawolf1605/beawolf160500007/59667326-very-high-resolution-3d-rendering-of-an-electronic-circuit.jpg)">
<hr>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<!--<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>-->
	<h4 class="card-title mt-2" style="color: blue;font-family: serif">Employee Entry Screen</h4>
</header>
<article class="card-body">
<form>
	<div class="form-row">
		<div class="col form-group">
			<label>First name </label>   
		  	<input type="text" class="form-control" [(ngModel)]="empregist.firstName"placeholder="Enter First Name" name="firstName">
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label>Last name</label>
		  	<input type="text" class="form-control" [(ngModel)]="empregist.lastName"placeholder="Enter Last Name" name="lastName">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" [(ngModel)]="empregist.email"placeholder="Enter Email Address" name="email">
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div> <!-- form-group end.// -->
   <div class="form-row">
     <div class="form-group col-md-6">
        <div class="form-group">
            <label class="form-check form-check-inline">Gender</label>
             <br>
            <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender"[(ngModel)]="empregist.gender" value="male">
            <span class="form-check-label"> Male </span>
          </label>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" [(ngModel)]="empregist.gender" value="female">
            <span class="form-check-label"> Female</span>
          </label>
        </div>
     </div>
     <div class="form-group col-md-6">
        <div class="form-group">
            <label class="form-check form-check-inline">Marital Status</label>
             <br>
            <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" [(ngModel)]="empregist.status"value="single">
            <span class="form-check-label"> Single </span>
          </label>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" [(ngModel)]="empregist.status" value="married">
            <span class="form-check-label"> Married</span>
          </label>
        </div>
     </div>
   </div><!-- form-group end.// -->
   <div class="form-group">
      <label>DOB</label>
      <input type="date" class="form-control" placeholder="Date of Birth"[(ngModel)]="empregist.dob" name="dob">
      <small class="form-text text-muted">Enter in the format of(dd/mm/yy)*</small>
    </div> <!-- form-group end.// -->
  <label class="form-check form-check-inline">Education</label>
  <br>
  <div class="form-row">
      <div class="form-group col-md-2">
          <br>
          <br>
          <label class="form-check form-check-inline">10th</label>
         
      </div>
      <div class="form-group col-md-4">
        <label class="form-check form-check-inline">(Year)</label>
        <input type="month" class="form-control" placeholder="Enter 10th passing year "[(ngModel)]="empregist.tenYear" name="tenYear">
      </div> <!-- form-group end.// -->
      <div class="form-group col-md-4">
        <label class="form-check form-check-inline">(Percentage)</label>
        <input type="text" class="form-control" placeholder="Enter 10th percentage in number"[(ngModel)]="empregist.tenPercent" name="tenPercent"> 
      </div> <!-- form-group end.// -->
      <div class="form-group col-md-2">
          <br>
          <br>
          <label class="form-check form-check-inline">(%)</label>
         
      </div>
  </div> 
  <div class="form-row">
      <div class="form-group col-md-2">
          <br>
          <label class="form-check form-check-inline">12th</label>
         
      </div>
      <div class="form-group col-md-4">
         <input type="text" class="form-control" placeholder="Enter 12th passing year" [(ngModel)]="empregist.twelveYear" name="twelveYear">
      </div> <!-- form-group end.// -->
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Enter 12th percentage in number"[(ngModel)]="empregist.twelvePercent" name="twelvePercent">
      </div> <!-- form-group end.// -->
      <div class="form-group col-md-2">
          <br>
          <label class="form-check form-check-inline">(%)</label>
         
      </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-2">
          <br>
          <label class="form-check form-check-inline">BE</label>
         
      </div>
      <div class="form-group col-md-4">
         <input type="text" class="form-control" placeholder="Enter BE passing year " [(ngModel)]="empregist.beYear" name="beYear">
      </div> <!-- form-group end.// -->
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Enter BE percentage in number"[(ngModel)]="empregist.bePercent" name="bePercent">
      </div> <!-- form-group end.// -->
      <div class="form-group col-md-2">
          <br>
          <label class="form-check form-check-inline">(%)</label>
         
      </div><!-- form-group end.// -->
  </div>
  <div class="form-group">
      <label>Permanent address</label>
      <textarea class="form-control" id="paddress" [(ngModel)]="empregist.parAddress" name="parAddress"></textarea>
      
    </div><!-- form-group end.// -->
    <div class="form-group">
        <label>Present address</label>
        <textarea class="form-control" id="praddress"[(ngModel)]="empregist.preAddress" name="preAddress"></textarea>
        
      </div><!-- form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>City</label>
		  <input type="text" class="form-control"[(ngModel)]="empregist.city" name="city">
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label>Country</label>
		  <select id="inputState" class="form-control"[(ngModel)]="empregist.country" name="country">
		    <option> Choose...</option>
		      <option>Uzbekistan</option>
		      <option>Russia</option>
		      <option selected="">United States</option>
		      <option>India</option>
		      <option>Afganistan</option>
		  </select>
		</div> <!-- form-group end.// -->
  </div> <!-- form-row.// -->
  <div class="form-row">
      <div class="col form-group">
        <label>Mobile Number</label>   
          <input type="text" class="form-control"[(ngModel)]="empregist.mNumber" placeholder="Enter the Mobile number" name="mNumber">
      </div> <!-- form-group end.// -->
      <div class="col form-group">
        <label>Father name</label>
          <input type="text" class="form-control"[(ngModel)]="empregist.fatherName" placeholder="Enter Father's name" name="fatherName">
      </div> <!-- form-group end.// -->
    </div> <!-- form-row end.// -->
    <div class="form-row">
        <div class="col form-group">
          <label>PAN Card</label>   
            <input type="text" class="form-control"[(ngModel)]="empregist.pan" placeholder="Enter PAN number" name="pan">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Adhaar</label>
            <input type="text" class="form-control"[(ngModel)]="empregist.adhaar" placeholder="Enter Adhaar Number" name="adhaar">
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->
      <div class="form-row">
          <div class="form-group col-md-6">
             <div class="form-group">
                 <label class="form-check form-check-inline">Passport</label>
                  <br>
                 <label class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="passport" (click)="toggle()">
                 <span class="form-check-label"> Yes </span>
               </label>
               <label class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="passport" (click)="toggle()" checked>
                 <span class="form-check-label"> NO</span>
               </label>
             </div>
          </div>
          <div class="form-group col-md-6">
             <div class="form-group">
                 <br>
                 <label class="form-check form-check-inline">
                 <input class="form-check-input" type="text" name="passport" [(ngModel)]="empregist.passport" placeholder="Enter Passport Number" >
                 
               </label>
               
             </div>
          </div>
        </div> 
	<div class="form-group">
		<label>Create password</label>
	    <input class="form-control" type="password" placeholder="Create Password" [(ngModel)]="empregist.crtPassword" name="crtPassword">
	</div> <!-- form-group end.// -->  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="createRegis()"> Register  </button>
    </div> <!-- form-group// -->      
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a href="http://localhost:4200/login">Log In</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->


</html>
